@import "tailwindcss";

@font-face {
  font-family: "yosugara";
  src: url("/fonts/yosugaraver1_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --foreground: #171717;
  --color-white: #fefefe;
  --color-black: #1a1c1e;
  --color-red: #D3141B;
  --color-gray: #858585;

  --font-yosugara: "yosugara", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
